# jujutsu VCS
.jj/*

# direnv cache
.direnv/*

# nix build artifacts
result

# cabal-install build artifacts
dist-newstyle/*
cabal/*

# GHC profiling artifacts
profiles/*
**/*.prof*
**/*.hp
**/*.eventlog
**/*.eventlog.html

# local claude settings
.claude/settings.local.json
